body {
    background:#D9D6D0;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    background:#A2A686;
    margin:10px;
    border-radius: 10px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 4px solid #FFF;
}

.assignment img:hover{
    border: 4px solid #244030;
}


h1 {
    color: #244030;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover{
    color: #244030;
}